<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>DatePicker</title>
    </head>
    <body>
        <form name="dateForm"
              th:method="GET"
              th:fragment="datePicker(date)">

            <label for="checkIn" th:text="#{datepicker.check.in}">Check-in date:</label>
            <input class="date-input" type="date" id="checkIn" name="startsAt"
                   th:min="${date.prevYear} + '-01-01'" th:max="${date.nextYear} + '-12-31'"
                   th:attr="data-date=${date.checkIn},
                    data-date-format=${#locale.toString().equals('ua')}?'DD-MM-YYYY':'MM-DD-YYYY'"
                   th:value="${date.checkIn}"
                   data-date="" data-date-format="DD MMMM YYYY">
            <br/>
            <label for="checkOut" th:text="#{datepicker.check.out}">Check-out date:</label>
            <input class="date-input" type="date" id="checkOut" name="endsAt"
                   th:min="${date.prevYear} + '-01-01'" th:max="${date.nextYear} + '-12-31'"
                   th:attr="data-date=${date.checkOut},
                    data-date-format=${#locale.toString().equals('ua')}?'DD-MM-YYYY':'MM-DD-YYYY'"
                   th:value="${date.checkOut}"
                   data-date="">
            <br/>
            <input id="searchBtn" type="button" class="btn btn-info" th:value="#{datepicker.button.search}">
        </form>
    </body>
</html>