<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Registration form</title>
        <link rel="stylesheet" href="/resources/css/bootstrap.min.css"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
              integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
              crossorigin="anonymous">
        <link rel="stylesheet" href="/resources/css/registration.css" crossorigin="anonymous">
    </head>
    <body>
        <header th:insert="fragments/header.html :: header(module='register')">...
        </header>

        <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-header">
                        <h3>Registration form</h3>
                    </div>
                    <div class="card-body">
                        <div th:switch="${error}" role="alert">
                            <div class="error" th:case="'validation'"
                                 th:text="#{validation.error.input.credentials}"></div>
                            <div class="error" th:case="'email'"
                                 th:text="#{validation.error.input.email.duplicate}"></div>
                        </div>

                        <form autocomplete="off" novalidate th:method="POST"
                              th:action="@{/register}" th:object="${user}">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
                            <div class="input-group form-group align-items-center">
                                <label for="inputFirstName" th:text="#{input.firstname}" class="card-input"></label>
                                <div class="input-group-prepend icon-container">
                                    <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                                </div>
                                <input type="text"
                                       class="form-control"
                                       th:field="*{firstName}"
                                       id="inputFirstName"
                                       th:placeholder="#{input.placeholder.first.name}"
                                       required
                                >
                                <div class="error" th:if="${#fields.hasErrors('firstName')}"
                                     th:errors="*{firstName}"
                                     role="alert">
                                    First name error
                                </div>
                            </div>

                            <div class="input-group form-group align-items-center">
                                <label for="inputFirstName" th:text="#{input.lastname}" class="card-input"></label>
                                <div class="input-group-prepend icon-container">
                                    <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                                </div>
                                <input type="text"
                                       class="form-control"
                                       th:field="*{lastName}"
                                       id="inputLastName"
                                       th:placeholder="#{input.placeholder.last.name}"
                                       required
                                >
                                <div class="error" th:if="${#fields.hasErrors('lastName')}"
                                     th:errors="*{lastName}"
                                     role="alert">
                                    Last name error
                                </div>
                            </div>

                            <div class="input-group form-group align-items-center">
                                <label for="inputEmail" th:text="#{input.email}" class="card-input"></label>
                                <div class="input-group-prepend icon-container">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="email"
                                       class="form-control"
                                       th:field="*{email}"
                                       id="inputEmail"
                                       th:placeholder="#{input.placeholder.email}"
                                       required
                                >
                                <div class="error" th:if="${#fields.hasErrors('email')}"
                                     th:errors="*{email}"
                                     role="alert">
                                    Email error
                                </div>
                            </div>

                            <div class="input-group form-group align-items-center">
                                <label for="inputPassword" th:text="#{input.password}" class="card-input"></label>
                                <div class="input-group-prepend icon-container">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password"
                                       class="form-control"
                                       th:field="*{password}"
                                       id="inputPassword"
                                       th:placeholder="#{input.placeholder.password}"
                                       required
                                >
                                <div class="error" th:if="${#fields.hasErrors('password')}"
                                     th:errors="*{password}"
                                     role="alert">
                                    Password error
                                </div>
                            </div>

                            <div class="input-group form-group align-items-center">
                                <label for="confirmPassword" th:text="#{input.confirm.password}"
                                       class="card-input"></label>
                                <div class="input-group-prepend icon-container">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password"
                                       class="form-control"
                                       name="confirmPassword"
                                       id="confirmPassword"
                                       th:placeholder="#{input.placeholder.confirm.password}"
                                       required
                                       onkeyup='check();'/>
                                <div class="error"
                                     id="message"
                                     role="alert">
                                </div>
                            </div>

                            <div class="form-group">
                                <input id="submit" type="submit" class="btn float-right register_btn"
                                       style="margin-top:30px"
                                       th:value="#{button.register}"/>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>

        <script src="/resources/js/bootstrap.bundle.min.js"
                crossorigin="anonymous"></script>
        <script src="/resources/js/jquery-3.5.1.min.js"
                crossorigin="anonymous"></script>
        <script src="/resources/js/header.js" crossorigin="anonymous">
        </script>
        <script src="/resources/js/registration.js" crossorigin="anonymous">
        </script>
    </body>
</html>