<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Login form's Main</title>
        <link rel="stylesheet" href="/resources/css/bootstrap.min.css"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
              integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/resources/css/login_form.css">
    </head>
    <body>
        <header th:insert="fragments/header.html :: header(module='login')">...
        </header>

        <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-header">
                        <h3>Login</h3>
                    </div>
                    <div class="card-body">
                        <div th:if="${param.error}" class="alert alert-danger" role="alert"
                             th:text="#{validation.error.input.credentials}">
                        </div>
                        <div th:if="${param.logout}" class="alert alert-info" role="alert"
                             th:text="#{information.logout.successful}">
                        </div>
                        <div role="alert" th:switch="${error}">
                            <p class="alert alert-danger" th:case="'validation'">Please input correct values for name
                                and
                                password!</p>
                            <p class="alert alert-danger" th:case="'credentials'">Wrong name or password!</p>
                        </div>

                        <form autocomplete="off" novalidate th:method="POST"
                              th:action="@{/login}" th:object="${user}">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}">
                            <div class="input-group form-group align-items-center">
                                <label for="inputEmail" th:text="#{input.email}" class="card-input"></label>
                                <div class="input-group-prepend icon-container">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="email"
                                       class="form-control"
                                       th:field="*{email}"
                                       id="inputEmail"
                                       placeholder="Email"
                                       required
                                >
                                <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                                    Email error
                                </div>
                            </div>

                            <div class="input-group form-group align-items-center">
                                <label for="inputPassword" th:text="#{input.password}" class="card-input"></label>
                                <div class="input-group-prepend icon-container">
                                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                                </div>
                                <input type="password"
                                       class="form-control"
                                       th:field="*{password}"
                                       id="inputPassword"
                                       placeholder="Password"
                                       required
                                >
                                <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                                    Password error
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn float-right login_btn" style="margin-top:30px"
                                       th:value="#{button.login}"/>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-self-center links">
                            Don't have an account?<a th:href="@{/register}" class="text-light">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/resources/js/bootstrap.bundle.min.js"
                crossorigin="anonymous"></script>
        <script src="/resources/js/jquery-3.5.1.min.js"
                crossorigin="anonymous"></script>
        <script src="/resources/js/header.js" crossorigin="anonymous">
        </script>
    </body>
</html>