<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Orders</title>
        <link rel="stylesheet" href="/resources/css/bootstrap.min.css"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
              integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
              crossorigin="anonymous">
        <link rel="stylesheet" href="/resources/css/orders.css">
    </head>
    <body>
        <header th:insert="fragments/header.html :: header(module='orders', userId=${userId})">...
        </header>

        <div class="page-container">
            <main class="container-md">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" th:text="#{orders.label.id}">Id</th>
                            <th scope="col" th:text="#{orders.label.email}">User email</th>
                            <th scope="col" th:text="#{orders.label.date}">Order date</th>
                            <th scope="col" th:text="#{orders.label.check.in}">Check-in</th>
                            <th scope="col" th:text="#{orders.label.check.out}">Check-out</th>
                            <th scope="col" th:text="#{orders.label.apartment.id}">Apartment id</th>
                            <th scope="col" th:text="#{orders.label.price}">Price</th>
                        </tr>
                    </thead>
                    <tbody th:with="format=${#locale.toString().equals('ua')} ? 'dd-MM-yyyy HH:mm' : 'MM-dd-yyyy HH:mm'">
                        <tr th:if="${orders.empty}">
                            <td colspan="7" th:text="#{orders.label.empty}"> No orders Available</td>
                        </tr>
                        <tr th:each="o : ${orders}" th:with="apartmentIds=${''}, totalPrice=${0}">
                            <th scope="row"><span th:text="${o.id}"/></th>
                            <td><span th:text="${o.userEmail}"/></td>
                            <td><span th:text="${#temporals.format(o.orderDate, format)}"/></td>
                            <td><span th:text="${#temporals.format(o.startsAt, format)}"/></td>
                            <td><span th:text="${#temporals.format(o.endsAt, format)}"/></td>

                            <td>
                                <span>
                                    <th:block th:each="item, iterStat : ${o.getOrderItems()}">
                                        <th:block th:text="${item.getApartmentId()}">
                                        </th:block>
                                        <th:block th:if="${!iterStat.last}" th:text="${' ,'}">
                                        </th:block>
                                    </th:block>
                                </span>
                            </td>
                            <td><span th:text="${o.totalPrice}"/></td>
                            <td>
                                <form th:method="PATCH"
                                      th:action="@{/orders/{id}(id=${o.id}, orderStatus=${'APPROVED'})}">
                                    <input type="submit" class="btn btn-success" th:value="#{orders.buttons.approve}"/>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </main>

            <div class="container-sm" th:insert="fragments/pager.html :: pager(${page})">...
            </div>
        </div>

        <script src="/resources/js/jquery-3.5.1.min.js"></script>
        <script src="/resources/js/bootstrap.bundle.min.js"
                crossorigin="anonymous"></script>
        <script src="/resources/js/header.js" crossorigin="anonymous">
        </script>
    </body>
</html>